body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 70px;
}
h2{
    font-size: 35px;
}
h3{
    color: crimson;
}
.coral{
    color: coral;
}
.top-container{
    display: flex;
    margin: 5px;
    margin-bottom: 20px;
    background-color: blanchedalmond;
    padding: 10px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
}
.paragraph{
    text-align: justify;
    padding: 10px;
}
.felxable-conn{
    padding: 40px;
}
.felxable-conn img{
    padding-left: 30%;
    width: 500px;
}
#middle-paragraph{
    margin-left: 20px;
    text-align: justify;
}
.button{
    text-decoration: none;
    margin-left: 30px;
    color: white;
    background-image: linear-gradient(orange,tomato);
    padding: 10px;
}
.button:hover{
    background-color: red;
}
